.DS_Store
.idea
.idea/*
.settings.xml
.monitor
.env
node_modules/*
node_modules
npm-debug.log
crash.log
builtAssets
config.json
config/wallets_config/*.json
errors.dump
logs.dump
.vagrant
css.digest
js.digest
img.digest

crons/*.js

*.log