.DS_Store
.idea
.idea/*
.settings.xml
.monitor
.env
node_modules/*
node_modules
npm-debug.log
crash.log
builtAssets
config.json
config/wallets_config/*.json
errors.dump
logs.dump
.vagrant
css.digest
js.digest
img.digest

public/css/*
public/js/config
public/js/controllers
public/js/directives
public/js/filters
public/js/models
public/js/*.js

crons/*.js

*.log