doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description', content='{{app.description}}')
    meta(name='keywords', content='app, responsive, angular, bootstrap, dashboard, admin')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='HandheldFriendly', content='true')
    meta(name='apple-touch-fullscreen', content='yes')
    title(data-ng-bind='pageTitle()') #{title ? title : "RFID Shop"}

    include ./_styles.pug

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>

    include ./_config.pug
  
  body
    block content
    
    include ./_scripts.pug
    