extends ../main.pug

block content
  #rfid-reader-log-wrapper
    .page-header
      h1 Reader
    .row
      .col-sm-6
        .panel.panel-default
          .panel-heading
            | Settings
          .panel-body
            .form-group
              label Status: <span id="reader-status" class="label label-default"></span>
            .form-group
              label Device port:
              input#device-port.form-control
            .form-group
              label Data filter: 
              select#data-filter.form-control
                option(value="ids") RFIDs
                option(value="hex") HEX data
                option(value="ascii") ASCII data
                option(value="raw") Raw data
            .form-group
              button#toggle-reading-bt.btn.btn-lg.btn-default Start/stop reader

      .col-sm-6
        .panel.panel-default
          .panel-heading
            | Logs
          .panel-body
            ul#rfidreader-log
